NODE_ENV=DEV
####### USER: ATLAS
ATLAS_HOST=127.0.0.1
ATLAS_PORT=3002
####### Config redis 
REDIS_ATLAS_HOST="redis://Cerberus:root@localhost:6379/0"
################################### JWT
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
DATABASE_URL="prisma+postgres://localhost:51213/"